/*
 * Copyright 2025 Akutangulo - navarr0
 * Proprietary software of Akutangulo.com
 * https://www.akutangulo.com
 *
 * Diseñado y creado con todo el amor del mundo por navarr0 de Akutangulo.com.
 */

/**************************************************
 * Estilos de los DIV Mágicos para Akutangulo.com *
 **************************************************/
/* Contenedor general de los bloques */
.contenedor-magic-akutangulo {
  margin: 0 auto;
}
/* Cada bloque (pareja de divs: texto e imagen) */
.bloque-magic {
  margin: 1rem;
  display: flex;
  flex-direction: column; /* El h2 estará encima del contenido */
  background: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: var(--color-akutangulo) solid 0px;
  border-radius: 10px;
}
/* Contenedor para el texto y la imagen */
.contenido-bloque-magic {
  display: flex;
  align-items: stretch; /* Ambos div se ajustan a la misma altura */
}
/* Estilos base para los div de texto e imagen */
.contenido-bloque-magic  .texto-magic-akutangulo,
.contenido-bloque-magic  .imagen-magic-akutangulo,
.contenido-bloque-magic  .iframe-magic-akutangulo {
  padding: 1rem;
}
/* Bloque de texto: ancho fijo para longitud de línea óptima */
.contenido-bloque-magic  .texto-magic-akutangulo {
  flex-basis: 40%;
  line-height: 1.6;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  overflow-wrap: break-word;
  color: var(--color-texto);
}

/*********************************************************
 * Estilos para listas dentro de .texto-magic-akutangulo *
 *********************************************************/
