/*
 * Copyright 2025 Akutangulo - navarr0
 * Proprietary software of Akutangulo.com
 * https://www.akutangulo.com
 *
 * Diseñado y creado con todo el amor del mundo por navarr0 de Akutangulo.com.
 */

/**************************************************
 * Estilos para el HEADER del logo Akutangulo.com *
 **************************************************/

  .aku-container-logo {
    position: relative;
    top: 0;
    width: 100%;
    height: 35vh;
    text-align: center; /* Centra el contenido */
  }
  /* Estilos para los H1 con la clase logo-akutangulo-portada */
  .logo-akutangulo-portada {
    display: block;
    width: 100%; /* Ajusta al contenedor */
    padding: 5px;
    line-height: 1.5;
    font-family: 'bauhouse_akutangulo'; /* Separamos font-family */
    font-size: clamp(2rem, 10vw, 10rem); /* Tamaño responsivo */
    font-weight: normal; /* Ajusta el grosor de la fuente */
    text-transform: none;
    position: absolute;
    color: var(--color-akutangulo);
    animation: glow 10s ease-in-out infinite;
    margin: 0; /* Elimina márgenes por defecto */
    text-align: center;
  }
  /* Estilos para el contenedor que mantiene la animación wobble */
  #aku {
    animation: wobble 5s ease-in-out infinite;
    transform-origin: center center;
    transform-style: preserve-3d;
    position: relative;
  }
  @keyframes wobble {
    0%, 100% { transform: rotate3d(1, 1, 0, 40deg); }
    25% { transform: rotate3d(-1, 1, 0, 40deg); }
    50% { transform: rotate3d(-1, -1, 0, 40deg); }
    75% { transform: rotate3d(1, -1, 0, 40deg); }
  }
  @keyframes glow {
    0%, 100% { text-shadow: 0 0 30px DeepPink; }
    25% { text-shadow: 0 0 30px Lime; }
    50% { text-shadow: 0 0 30px Magenta; }
    75% { text-shadow: 0 0 30px MediumSlateBlue; }
  }
/* Ajustamos las capas 3D a cada H1 dentro del contenedor */
  .aku-container-logo h1:nth-child(2) { transform: translateZ(5px); }
  .aku-container-logo h1:nth-child(3) { transform: translateZ(10px); }
  .aku-container-logo h1:nth-child(4) { transform: translateZ(15px); }
  .aku-container-logo h1:nth-child(5) { transform: translateZ(20px); }
  .aku-container-logo h1:nth-child(6) { transform: translateZ(25px); }
  .aku-container-logo h1:nth-child(7) { transform: translateZ(30px); }
  .aku-container-logo h1:nth-child(8) { transform: translateZ(35px); }
