/*
 * Copyright 2025 Akutangulo - navarr0
 * Proprietary software of Akutangulo.com
 * https://www.akutangulo.com
 *
 * Diseñado y creado con todo el amor del mundo por navarr0 de Akutangulo.com.
 */

/**************************************************
 * Estilos para el HEADER del logo Akutangulo.com *
 **************************************************/

  .aku-container-logo {
    position: relative;
    top: 0;
    width: 100%;
    height: 35vh;
    text-align: center; /* Centra el contenido */
  }
  /* Estilos para los H1 con la clase logo-akutangulo-portada */
  .logo-akutangulo-portada {
    display: block;
    width: 100%; /* Ajusta al contenedor */
    padding: 5px;
    line-height: 1.5;
    font-family: 'bauhouse_akutangulo'; /* Separamos font-family */
    font-size: clamp(2rem, 10vw, 10rem); /* Tamaño responsivo */
    font-weight: normal; /* Ajusta el grosor de la fuente */
    text-transform: none;
    position: absolute;
    color: var(--color-akutangulo);
    animation: glow 10s ease-in-out infinite;
    margin: 0; /* Elimina márgenes por defecto */
    text-align: center;
  }
