/*
 * Copyright 2025 Akutangulo - navarr0
 * Proprietary software of Akutangulo.com
 * https://www.akutangulo.com
 *
 * Diseñado y creado con todo el amor del mundo por navarr0 de Akutangulo.com.
 */
/****************************************************
 * Estilos para el MENU principal de Akutangulo.com *
 ****************************************************/
 :root {
    --color-menu-akutangulo-bg-nav: rgba(0, 0, 0, 0.95);
    --color-menu-akutangulo-bg-submenu: rgba(0, 0, 0, 1);
    --color-menu-akutangulo-text: #fff;
    --padding-nav: 15px 20px;
  }
  /* Estilos del menú */
  nav#akutangulo-nav {
    background: var(--color-menu-akutangulo-bg-nav);
    color: var(--color-menu-akutangulo-text);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky; /* relative / sticky / fixed / absolute / static */
    top: 0;
    min-height: 70px;
    z-index: 1000;
    font-weight: 600;
  }

  .logo-menu-akutangulo {
    font-size: 3em;
    font-family: 'bauhouse_akutangulo';
    color: var(--color-akutangulo);
    padding: 5px 20px;
  }
  /* Menú principal */
  .items-menu-principal {
    list-style: none;
    display: flex;
    align-items: center;
  }
