/*
 * Copyright 2025 Akutangulo - navarr0
 * Proprietary software of Akutangulo.com
 * https://www.akutangulo.com
 *
 * Diseñado y creado con todo el amor del mundo por navarr0 de Akutangulo.com.
 */
/*****************************************************************
 * Estilo del FOOTER con la animacion del logo de Akutangulo.com *
 *****************************************************************/
 :root {
   --color-footer-akutangulo: #111111; 
 }
 .akutangulo-diseño-web-seo {
    font-family: 'bauhouse_akutangulo';
    color: #9400D3;
    animation: glow 10s ease-in-out infinite;
  }

  .footer-akutangulo {
    text-align: center;
    background-color: var(--color-footer-akutangulo); /* #1E1E1E*/
    padding-top: 1rem;
    padding-bottom: 4rem;
  }
  .footer-logo-akutangulo {
    margin: 15px auto;
    width: 76px;
  }

  .copyright-akutangulo {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
  }
  .copyright-akutangulo a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
  }
  .copyright-akutangulo a:hover {
    font-size: 1.3rem;
  }
  /* Estilo base para el trazado del logo Akutangulo en SVG */
  .animacion-logo-svg-akutangulo {
    fill: none;
    stroke: #9300D3;
    stroke-width: 5;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: draw-akutangulo 5s ease-in-out forwards, fillLogo-akutangulo 2s ease-in-out forwards 3s, glow 10s ease-in-out infinite;
  }

  /* Animación para dibujar el trazado del logo */
  @keyframes draw-akutangulo {
    0% {
      stroke-dashoffset: 3000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
